<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download Our App</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000000;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .content {
        text-align: center;
      }

      h1 {
        font-size: 36px;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        margin-bottom: 30px;
      }

      .button-link {
        display: inline-block;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        background-color: #f1714f;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .button-link:hover {
        background-color: #d35e3c;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1>Get Our App Now</h1>
      <p>Experience the best with our mobile app. Click below to download:</p>
      <a
        href="https://play.google.com/store/apps/details?id=com.ubercab&pcampaignid=web_share"
        target="_blank"
        class="button-link"
        >Get it on Google Play</a
      >
    </div>
  </body>
</html>
